alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'telegram-notifications'
    receivers:
    - name: 'telegram-notifications'
      telegram_configs:
      - bot_token: '你的_BOT_TOKEN'
        chat_id: 你的_CHAT_ID
        send_resolved: true
        message: '告警名稱: {{ .GroupLabels.alertname }}\n狀態: {{ .Status }}\n詳情: {{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}'